.calendar {
    width : 100vw;
    height: 90%;
    background-color:white;
}

.react-calendar__tile{
    height:15vh;
    font-size:50px;
}

.react-calendar__month-view__days__day--neighboringMonth {
    opacity:0;
}

.react-calendar__month-view__days__day--neighboringMonth>abbr{
    display:none;
}